<div class="background">
  <img src="../img/00{{ num }}.jpg" alt="Picture" />
<div class="diary-panel">
  <div class="top-panel">
    <span>Weather</span>
    <span>Music</span>
  </div>
  <my-time></my-time>
  <div class="task">
    <form>
      <input class="new-task" name="task" value="New Task"/>
      <input class="submit" type="submit" value="+" />
    </form>
  </div>
  <div class="bottom-panel">
    <span>Setting</span>
    <span>Todo</span>
    <!--<my-todo></my-todo>-->
  </div>
  <!--<my-playlist></my-playlist>-->
  <!--<my-weather></my-weather>-->
  <!--<my-settings></my-settings>-->
</div>
</div>
